#cardContent{
  height: 90%;
  width: 80%;
  margin: auto;
  word-wrap: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  z-index: 1;
  text-align: centre;
}

#nextCard{
  right: 2%;
  position: fixed;
  bottom: 5%;
  z-index: 2;
  font-size: 3em;
}
#prevCard{
  left: 2%;
  position: fixed;
  bottom: 5%;
  z-index: 2;
  font-size: 3em;
}

.navEditor{
  position: fixed;
  left: 2%;
  top: 2%;
  font-size: 3em;
}

html, body{
  height: 100%;
}
